<div th:fragment="footer">


	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							// Setup - add a text input to each footer cell
							$('#example tfoot tr').clone(true).appendTo(
									'#example tfoot');
							$('#example tfoot tr:eq(1) th')
									.each(
											function(i) {
												var title = $(this).text();
												$(this)
														.html(
																'<input type="text" placeholder="Search '+title+'" />');

												$('input', this)
														.on(
																'keyup change',
																function() {
																	if (table
																			.column(
																					i)
																			.search() !== this.value) {
																		table
																				.column(
																						i)
																				.search(
																						this.value)
																				.draw();
																	}
																});
											});

							var table = $('#example').DataTable({
								orderCellsTop : true,
								fixedHeader : true
							});
							$('#min, #max').keyup(function() {
								table.draw();
							});
						});
		$.fn.dataTable.ext.search
				.push(function(settings, data, dataIndex) {
					var min = parseInt($('#min').val(), 10);
					var max = parseInt($('#max').val(), 10);
					var age = parseFloat(data[3]) || 0; // use data for the age column

					if ((isNaN(min) && isNaN(max))
							|| (isNaN(min) && age <= max)
							|| (min <= age && isNaN(max))
							|| (min <= age && age <= max)) {
						return true;
					}
					return false;
				});
	</script>
</div>
</html>