<div th:fragment="footer">
 <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
	$(document)
			.ready(
					function() {
						// Setup - add a text input to each footer cell
						$('#example tfoot tr').clone(true).appendTo(
								'#example tfoot');
						$('#example tfoot tr:eq(1) th')
								.each(
										function(i) {
											var title = $(this).text();
											$(this)
													.html(
															'<input type="text" placeholder="Search '+title+'" />');

											$('input', this)
													.on(
															'keyup change',
															function() {
																if (table
																		.column(
																				i)
																		.search() !== this.value) {
																	table
																			.column(
																					i)
																			.search(
																					this.value)
																			.draw();
																}
															});
										});

						var table = $('#example').DataTable({
							orderCellsTop : true,
							fixedHeader : true
						});
					});
</script>
</div>
</html>