<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
</head>
<body>
	<div lang="en" th:replace="fragments/nav :: nav"></div>


	<div class="maintablediv">
		<div>
			<form>
				<div class="form-row">
					<div class="col-3">
						<label>From Date</label><input type="text" id="min" name="min"
							class="form-control" placeholder="dd-mm-yyyy">
					</div>
					<div class="col-3">
						<label>To Date</label><input type="text" id="max" name="max"
							class="form-control" placeholder="dd-mm-yyyy">
					</div>
				</div>
			</form>
		</div>
		<table id="example"
			class="table table-striped table-bordered table-hover"
			style="width: 100%">
			<thead class="table-primary">
				<tr>
					<th>Sr.No</th>
					<th>Tag Id</th>
					<th>Antenna</th>
					<th>Date Time</th>
					<th>RSSI</th>
					<th>Read Count</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="getData : ${getList}">
					<td th:text="${getData.id}"></td>
					<td th:text="${getData.tag}"></td>
					<td th:text="${getData.antenna}"></td>
					<td th:text="${getData.dateTime}"></td>
					<td th:text="${getData.rssi}"></td>
					<td th:text="${getData.readCount}"></td>
				</tr>
			</tbody>
			<tfoot class="table-primary">
				<tr>
					<th>Sr.No</th>
					<th>Tag Id</th>
					<th>Antenna</th>
					<th>Date Time</th>
					<th>RSSI</th>
					<th>Read Count</th>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
<div lang="en" th:replace="fragments/footer :: footer"></div>